#closeButton {
  float: right;
}
.infoPlan {
  padding: 5px;
  background: #2F3337;
  color: white;
}

.numberFriendsRiding {
  padding: 5px;
  background: black;
  color: white;
  text-align: center;
}

.friendPlan {
  padding: 5px;
  background: #2F3337;
  color: white;
}

.button {
  background-color: #363073;
  border: white 1px;
  color: white;
  text-align: center;
  display: inline-block;;
  font-size: 16px;
}
